body {
  font-size: 32px;
  margin: 0;
}

.parent {
  background: blue;
  height: 60vh;
  padding: 16px;

  /* flex  */

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* justify-content: space-around;
  flex-direction: column-reverse; */
  justify-content: center;
  align-items: center;
}

.parent > div {
  background: grey;
  margin: 10px;
  width: 80px;
  height: 80px;

  /* flex  */

  display: flex;
  justify-content: center; /*to adjust X-Axis */
  align-items: center; /*to adjust Y-Axis */
}

.parent > div:nth-child(even) {
  background-color: red;
}

.item-2 {
  align-self: flex-start;
}

.item-6 {
  align-self: flex-end;
}

.item-1 {
  order: 1;
}
/* order means aagadi(-) ya paxadi(+) order no 1 xa bhaney aagadi 2 xa bhaney paxadi */
.item-7 {
  order: 2;
}

.item-5 {
  order: -1;
}

.item-6 {
  order: -2;
}

.item-4 {
  flex-grow: 1;
}

.item-3 {
  flex-grow: 2;
}
